<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Nowy termin</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert" data-ng-show="errorCreate">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Błąd!</strong> Wystąpił problem podczas umawiania nowego terminu.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert" data-ng-show="errorLoadingPatients">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Błąd!</strong> Wystąpił problem podczas pobierania listy pacjentów.
            </div>
        </div>
    </div>
    <form role="form" name="choose_patient">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Krok 1. Wybór pacjenta</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group required" data-ng-init="loadPatientsList()">
                            <label class="control-label" for="patient">Pacjent</label>
                            <select class="form-control" data-ng-model="termDetails.patientId" name="patient" required="required">
                                <option data-ng-repeat="patient in patientsList|orderBy:'surname'" data-ng-value="{{patient.pesel}}" value="{{patient.pesel}}">{{patient.surname}} {{patient.name}} ({{patient.pesel}})</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form role="form" name="choose_kindofvisit">
        <div class="row" data-ng-show="choose_patient.$valid">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Krok 2. Wybór rodzaju wizyty</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group required">
                            <label class="control-label" for="kindofvisit">Rodzaj wizyty</label>
                            <div class="radio">
                                <label>
                                    <input value="1" data-ng-model="termDetails.visitId" type="radio" ng-required="!termDetails.visitId">NFZ
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input value="2" data-ng-model="termDetails.visitId" type="radio" ng-required="!termDetails.visitId">Prywatna
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form role="form" name="fill_referral">
        <div class="row" data-ng-show="choose_patient.$valid && termDetails.visitId === '1'">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Krok 3. Wypełnienie skierowania</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group required">
                            <label class="control-label" for="issueDate">Data wystawienia</label>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               uib-datepicker-popup="dd.MM.yyyy"
                                               show-button-bar="false"
                                               max-date="maxDate"
                                               datepicker-options="dateOptions"
                                               is-open="isOpen"
                                               data-ng-click="open()"
                                               data-ng-model="termDetails.issueDate"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" data-ng-click="open($event)">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <p class="help-block" data-ng-show="termDetails.issueDate < (today - 2678400000)">
                                Skierowanie straciło ważność!!!
                            </p>
                        </div>
                        <div class="form-group required">
                            <label class="control-label" for="contractNumber">Numer umowy z funduszem</label>
                            <input name="contractNumber" type="text" class="form-control" data-ng-model="termDetails.contractNumber" data-ng-blur="contractNumberBlur = true" placeholder="Numer umowy z funduszem" required="required">
                        </div>
                        <div class="form-group required">
                            <label class="control-label" for="regon">REGON</label>
                            <input name="regon" type="text" class="form-control" data-ng-model="termDetails.regon" data-ng-blur="regonBlur = true" placeholder="REGON" data-ng-minlength="9" data-ng-maxlength="9" data-ng-pattern="/^[0-9]{9}$/" required="required">
                            <p class="help-block" data-ng-show="regonBlur && fill_referral.regon.$invalid">
                                Wprowadź REGON przychodni zlecającej zabieg, składający się z 9 cyfr.
                            </p>
                        </div>
                        <div class="form-group required">
                            <label class="control-label" for="resortCode">Kod resortowy cz. VII</label>
                            <input name="resortCode" type="text" class="form-control" data-ng-model="termDetails.resortCode" data-ng-blur="resortCodeBlur = true" placeholder="Kod resortowy" data-ng-minlength="3" data-ng-maxlength="3" data-ng-pattern="/^[0-9]{3}$/" required="required">
                            <p class="help-block" data-ng-show="resortCodeBlur && fill_referral.resortCode.$invalid">
                                Wprowadź kod resortowy cz. VII przychodni zlecającej zabieg, składający się z 3 cyfr.
                            </p>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="diagnosis">Rozpoznanie</label>
                            <textarea name="diagnosis" class="form-control" data-ng-model="termDetails.diagnosis" maxlength="128" rows="2" placeholder="Rozpoznanie"></textarea>
                        </div>
                        <div class="form-group required" data-ng-init="loadIcdsList()">
                            <label class="control-label" for="icd10">ICD-10</label>
                            <select class="form-control" data-ng-model="termDetails.icd10" name="icd10" required="required">
                                <option data-ng-repeat="icd in icdsList|orderBy:'code'" data-ng-value="{{icd.icdId}}" value="{{icd.icdId}}">{{icd.code}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="purpose">Cel zabiegów</label>
                            <textarea name="purpose" class="form-control" data-ng-model="termDetails.purpose" maxlength="128" rows="2" placeholder="Cel zabiegów"></textarea>
                        </div>
                        <div class="form-group required">
                            <label class="control-label" for="doctorNumber">Numer lekarza wystawiającego</label>
                            <input name="doctorNumber" type="text" class="form-control" data-ng-model="termDetails.doctorNumber" data-ng-blur="doctorNumberBlur = true" placeholder="Numer lekarza wystawiającego" required="required">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form role="form" name="choose_term">
        <div class="row" data-ng-show="choose_patient.$valid && choose_kindofvisit.$valid && (fill_referral.$valid || termDetails.visitId === '2')">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-ng-show="termDetails.visitId === '1'">Krok 4. Szczegóły dotyczące wizyty</h3>
                        <h3 class="panel-title" data-ng-show="termDetails.visitId === '2'">Krok 3. Szczegóły dotyczące wizyty</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group required">
                            <label class="control-label" for="date">Dzień</label>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               uib-datepicker-popup="dd.MM.yyyy"
                                               show-button-bar="false"
                                               min-date="minDate"
                                               datepicker-options="dateOptions"
                                               is-open="isOpen" 
                                               data-ng-click="open()" 
                                               data-ng-model="termDetails.datehour"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" data-ng-click="open($event)">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="control-label" for="hour">Godzina</label>
                            <fieldset>
                                <uib-timepicker  ng-model="termDetails.datehour" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="false" required="required"></uib-timepicker>
                            </fieldset>
                        </div>
                        <div class="form-group required" data-ng-init="loadTreatmentsList()">
                            <label class="control-label" for="kindoftreatment">Rodzaj zabiegu</label>
                            <select class="form-control" data-ng-model="termDetails.treatmentId" name="kindoftreatment" required="required">
                                <option data-ng-repeat="treatment in treatmentsList" data-ng-value="{{treatment.treatmentid}}" value="{{treatment.treatmentid}}">{{treatment.kindoftreatment}}</option>
                            </select>
                        </div>
                        <div class="form-group required" data-ng-init="loadRoomsList()">
                            <label class="control-label" for="room">Pokój</label>
                            <select class="form-control" data-ng-model="termDetails.roomId" name="room" required="required">
                                <option data-ng-repeat="room in roomsList" data-ng-value="{{room.roomid}}" value="{{room.roomid}}">p. {{room.roomnumber}} ({{room.roomname}})</option>
                            </select>
                        </div>
                        <div class="form-group required" data-ng-init="loadEmployeesList()">
                            <label class="control-label" for="employee">Pracownik</label>
                            <select class="form-control" data-ng-model="termDetails.employeeId" name="employee" required="required">
                                <option data-ng-repeat="employee in employeesList|orderBy: 'surname'" data-ng-value="{{employee.employeeid}}" value="{{employee.employeeid}}">{{employee.degree}} {{employee.surname}} {{employee.name}}</option>
                            </select>
                        </div>
                        <!--                        <div class="form-group required">
                                                    <label class="control-label" for="repsnumber">Ilość powtórzeń</label>
                                                    <input name="repsnumber" type="number" class="form-control" data-ng-model="termDetails.repsNumber" placeholder="Ilość powtórzeń" required="required">
                                                </div>-->
                        <label class="control-label required" for="time">Czas trwania</label>
                        <div class="form-group input-group required">
                            <input name="time" type="number" class="form-control" data-ng-model="termDetails.time" placeholder="Czas trwania" required="required">
                            <span class="input-group-addon">min.</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="parameters">Parametry</label>
                            <input name="parameters" type="text" class="form-control" data-ng-model="termDetails.parameters" placeholder="Parametry">
                        </div>
                        <div class="form-group required">
                            <label class="control-label" for="bodyparts">Okolica ciała</label>
                            <input name="bodyparts" type="text" class="form-control" data-ng-model="termDetails.bodyparts" placeholder="Okolica ciała" required="required">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="additionalinformations">Dodatkowe informacje</label>
                            <textarea name="additionalinformations" data-ng-model="termDetails.additionalInformations" class="form-control" maxlength="512" rows="5" placeholder="Dodatkowe informacje"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" data-ng-click="saveTerm()" data-ng-hide="submitting" data-ng-disabled="choose_term.$invalid" data-toggle="tooltip" title="Dodaj nowy termin"><i class="fa fa-plus"></i> Dodaj</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--<button class="btn btn-default" data-ui-sref="root.dashboard" data-ng-hide="submitting" data-toggle="tooltip" title="Wróć do panelu nawigacyjnego"><i class="fa fa-times"></i> Anuluj</button>
        <p align="center"><img src="images/spinner.gif" style="height: 30px;" data-ng-show="submitting"></p>-->
</div>
