<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Oczekujące zabiegi</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="padding-top: 10px">
            <div class="alert alert-info" role="alert">
                <strong>Uwaga!</strong> Na liście nie ma żadnych oczekujących zabiegów. Dodaj nowy, klikając poniższy przycisk "Dodaj nowy termin".
            </div>
            <div class="pull-right">
                <button class="btn btn-sm btn-primary" data-ng-click="addNewTerm()" data-toggle="tooltip" title="Dodaj nowy termin"><i class="fa fa-plus"></i> Dodaj</button>
            </div>
        </div>
    </div>
</div>
