<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Szczegóły pracownika</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert" data-ng-show="EDC.errorEdit">
                <strong>Błąd!</strong> Wystąpił problem podczas edytowania pracownika.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert" data-ng-show="EDC.errorLoading">
                <strong>Błąd!</strong> Wystąpił problem podczas pobierania szczegółów pracownika.
            </div>
        </div>
    </div>
    <form class="row" role="form" name="employee_details" data-ng-init="EDC.loadEmployeeDetails()">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Dane personalne</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required">
                        <label class="control-label" for="id">ID</label>
                        <input name="id" type="text" class="form-control" data-ng-blur="idBlur = true" data-ng-value="EDC.employeeDetails.employeeid" data-ng-disabled="true" placeholder="ID" required>
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="surname">Nazwisko</label>
                        <input name="surname" type="text" class="form-control" data-ng-blur="surnameBlur = true" data-ng-model="EDC.employeeDetails.surname" data-ng-disabled="!EDC.allowEdit" data-ng-minlength="2" data-ng-maxlength="32" placeholder="Nazwisko" required>
                        <p class="help-block" data-ng-show="surnameBlur && employee_details.surname.$error.minlength">
                            Wprowadź nazwisko pracownika, składające się z minimum 2 znaków.
                        </p>
                        <p class="help-block" data-ng-show="surnameBlur && employee_details.surname.$error.maxlength">
                            Wprowadź nazwisko pracownika, składające się z maksymalnie 32 znaków.
                        </p>
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="name">Imię</label>
                        <input name="name" type="text" class="form-control" data-ng-blur="nameBlur = true" data-ng-model="EDC.employeeDetails.name" data-ng-disabled="!EDC.allowEdit" data-ng-minlength="2" data-ng-maxlength="32" placeholder="Imię" required>
                        <p class="help-block" data-ng-show="nameBlur && employee_details.name.$error.minlength">
                            Wprowadź imię pracownika, składające się z minimum 2 znaków.
                        </p>
                        <p class="help-block" data-ng-show="nameBlur && employee_details.name.$error.maxlength">
                            Wprowadź imię pracownika, składające się z maksymalnie 32 znaków.
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="degree">Stopień</label>
                        <input name="degree" type="text" class="form-control" data-ng-blur="degreeBlur = true" data-ng-model="EDC.employeeDetails.degree" data-ng-disabled="!EDC.allowEdit" data-ng-minlength="2" data-ng-maxlength="16" placeholder="Stopień">
                        <p class="help-block" data-ng-show="degreeBlur && employee_details.degree.$error.minlength">
                            Wprowadź stopień pracownika, składający się z minimum 2 znaków. Np. mgr, lek. itp.
                        </p>
                        <p class="help-block" data-ng-show="degreeBlur && employee_details.degree.$error.maxlength">
                            Wprowadź stopień pracownika, składający się z minimum 16 znaków. Np. mgr, lek. itp.
                        </p>
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="position">Stanowisko</label>
                        <input name="position" type="text" data-ng-model="EDC.employeeDetails.position" class="form-control" data-ng-blur="positionBlur = true" data-ng-disabled="!EDC.allowEdit" data-ng-minlength="3" data-ng-maxlength="64" placeholder="Stanowisko" required>
                        <p class="help-block" data-ng-show="positionBlur && employee_details.position.$error.minlength">
                            Wprowadź stanowisko pracownika, składające się z minimum 3 znaków.
                        </p>
                        <p class="help-block" data-ng-show="positionBlur && employee_details.position.$error.maxlength">
                            Wprowadź stanowisko pracownika, składające się z maksymalnie 64 znaków.
                        </p>
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="sex">Płeć</label>
                        <div class="radio">
                            <label>
                                <input value="K" data-ng-model="EDC.employeeDetails.sex" data-ng-disabled="!EDC.allowEdit" type="radio" data-ng-required="!EDC.employeeDetails.sex">Kobieta
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input value="M" data-ng-model="EDC.employeeDetails.sex" data-ng-disabled="!EDC.allowEdit" type="radio" data-ng-required="!EDC.employeeDetails.sex">Mężczyzna
                            </label>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="dob">Data urodzenia</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="dob"
                                           uib-datepicker-popup="dd.MM.yyyy"
                                           show-button-bar="false"
                                           max-date="EDC.maxDate"
                                           datepicker-options="EDC.dateOptions"
                                           is-open="EDC.valuationDatePickerIsOpen" 
                                           data-ng-value="EDC.employeeDetails.dob|date:'dd.MM.yyyy'"
                                           data-ng-click="EDC.valuationDatePickerOpen()"
                                           data-ng-model="EDC.employeeDetails.dob" data-ng-disabled="!EDC.allowEdit" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" data-ng-disabled="!EDC.allowEdit" data-ng-click="EDC.valuationDatePickerOpen($event)">
                                            <i class="fa fa-calendar" ></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="email">E-mail</label>
                        <input name="email" type="email" data-ng-model="EDC.employeeDetails.email" data-ng-blur="emailBlur = true" data-ng-disabled="!EDC.allowEdit" data-ng-minlength="5" data-ng-maxlength="64" class="form-control" placeholder="E-mail" required>
                        <p class="help-block" data-ng-show="emailBlur && employee_details.email.$error.minlength && !employee_details.email.$error.email">
                            Wprowadź e-mail pracownika, składający się z minimum 5 znaków.
                        </p>
                        <p class="help-block" data-ng-show="emailBlur && employee_details.email.$error.maxlength && !employee_details.email.$error.email">
                            Wprowadź e-mail pracownika, składający się z maksymalnie 64 znaków.
                        </p>
                        <p class="help-block" data-ng-show="emailBlur && employee_details.email.$error.email">
                            Wprowadź poprawny format e-maila pracownika, np. przyklad@rehapp.pl 
                        </p>
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="phone">Telefon kontaktowy</label>
                        <input name="phone" type="text" data-ng-model="EDC.employeeDetails.phonenumber" class="form-control" data-ng-blur="phoneBlur = true" data-ng-disabled="!EDC.allowEdit" data-ng-minlength="9" data-ng-maxlength="9" data-ng-pattern="/^[0-9]{9}$/" placeholder="Telefon kontaktowy" required>
                        <p class="help-block" data-ng-show="phoneBlur && employee_details.phone.$error.pattern">
                            Wprowadź poprawny format telefonu pracownika (9 cyfr, bez spacji!), np. 600123456 lub 542361234.
                        </p>
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="status">Status</label>
                        <select class="form-control" data-ng-model="EDC.employeeDetails.status" name="status" data-ng-blur="statusBlur = true" data-ng-disabled="!EDC.allowEdit" required>
                            <option selected disabled style="display: none" value=''>Proszę wybrać status</option>
                            <option value="Aktywny">Aktywny</option>
                            <option value="Nieaktywny">Nieaktywny</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Zdjęcie</label>
                        <input name="image" type="file" data-ng-model="EDC.employeeDetails.image" data-ng-disabled="!EDC.allowEdit" placeholder="Zdjęcie">
                    </div>
                    <div class="form-group">
                        <label>Data zatrudnienia</label>
                        <p class="form-control-static">{{EDC.employeeDetails.employmentdate|date:'dd.MM.yyyy'}}</p>
                    </div>
                    <div class="form-group" data-ng-hide="EDC.employeeDetails.dismissdate === undefined">
                        <label>Data rezygnacji</label>
                        <p class="form-control-static">{{EDC.employeeDetails.dismissdate|date:'dd.MM.yyyy'}}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="informations">Dodatkowe informacje</label>
                        <textarea name="informations" class="form-control" data-ng-model="EDC.employeeDetails.informations" data-ng-disabled="!EDC.allowEdit" maxlength="512" rows="5" placeholder="Dodatkowe informacje"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Adres zamieszkania</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group required">
                        <label class="control-label" for="street">Ulica</label>
                        <input name="street" type="text" class="form-control" data-ng-model="EDC.employeeDetails.street" data-ng-blur="streetBlur = true" data-ng-disabled="!EDC.allowEdit" data-ng-minlength="3" data-ng-maxlength="32" placeholder="Ulica" required>
                        <p class="help-block" data-ng-show="streetBlur && employee_details.street.$error.minlength">
                            Nazwa ulicy powinna składać się z minimum 3 znaków.
                        </p>
                        <p class="help-block" data-ng-show="streetBlur && employee_details.street.$error.maxlength">
                            Nazwa ulicy powinna składać się z maksymalnie 32 znaków.
                        </p>
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="postal_code">Kod pocztowy</label>
                        <input name="postal_code" type="text" class="form-control" data-ng-model="EDC.employeeDetails.postalcode" data-ng-blur="postalCodeBlur = true" data-ng-disabled="!EDC.allowEdit" data-ng-minlength="6" data-ng-maxlength="6" data-ng-pattern="/^[0-9]{2}\-[0-9]{3}$/" placeholder="Kod pocztowy" required>
                        <p class="help-block" data-ng-show="postalCodeBlur && employee_details.postal_code.$error.pattern">
                            Wprowadź poprawny format kodu pocztowego, np. 87-800.
                        </p>
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="city">Miejscowość</label>
                        <input name="city" type="text" class="form-control" data-ng-model="EDC.employeeDetails.city" data-ng-blur="cityBlur = true" data-ng-disabled="!EDC.allowEdit" data-ng-minlength="3" data-ng-maxlength="32" placeholder="Miejscowość" required>
                        <p class="help-block" data-ng-show="cityBlur && employee_details.city.$error.minlength">
                            Nazwa miejscowości powinna składać się z minimum 3 znaków.
                        </p>
                        <p class="help-block" data-ng-show="cityBlur && employee_details.city.$error.maxlength">
                            Nazwa miejscowości powinna składać się z maksymalnie 32 znaków.
                        </p>
                    </div>
                    <div class="form-group required">
                        <label class="control-label" for="country">Kraj</label>
                        <input name="country" type="text" class="form-control" data-ng-model="EDC.employeeDetails.country" data-ng-blur="countryBlur = true" data-ng-disabled="!EDC.allowEdit" data-ng-minlength="3" data-ng-maxlength="64" placeholder="Kraj" required>
                        <p class="help-block" data-ng-show="countryBlur && employee_details.country.$error.minlength">
                            Nazwa państwa powinna składać się z minimum 3 znaków.
                        </p>
                        <p class="help-block" data-ng-show="countryBlur && employee_details.country.$error.maxlength">
                            Nazwa państwa powinna składać się z maksymalnie 64 znaków.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <button type="submit" class="btn btn-primary" data-ng-show="!EDC.allowEdit && !EDC.updating" data-ng-click="EDC.startEdit()" data-toggle="tooltip" title="Edytuj szczegóły pracownika"><i class="fa fa-pencil"></i> Edytuj</button>
    <button class="btn btn-primary" data-ng-show="EDC.allowEdit && !EDC.updating" data-ng-click="EDC.saveEdit()" data-ng-disabled="employee_details.$invalid" data-toggle="tooltip" title="Zapisz wprowadzone zmiany"><i class="fa fa-check"></i> Zapisz</button>
    <button class="btn btn-warning" data-ng-show="EDC.allowEdit && !EDC.updating" data-ng-click="EDC.cancelEdit()" data-toggle="tooltip" title="Anuluj wprowadzone zmiany"><i class="fa fa-times"></i> Anuluj</button>
    <button class="btn btn-default pull-right" data-ng-hide="EDC.updating" data-ui-sref="root.employees.list" data-toggle="tooltip" title="Wróć na listę pracowników"><i class="fa fa-arrow-left"></i> Wróć</button>
    <p align="center" data-ng-show="EDC.updating"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></p>
</div>
