<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Wykresy pacjentów</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ilość nowych pacjentów</h3>
                </div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" chart-data="data3"
                            chart-labels="labels3" chart-series="series3">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ilość pacjentów z podziałem na wiek</h3>
                </div>
                <div class="panel-body">
                    <canvas id="pie" class="chart chart-pie"
                            chart-data="data2" chart-labels="labels2" chart-legend="true">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ilość pacjentów z podziałem na płeć</h3>
                </div>
                <div class="panel-body">
                    <canvas id="pie" class="chart chart-pie"
                            chart-data="data" chart-labels="labels" chart-legend="true">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
