<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Szczegóły zabiegu</h1>
        </div>
    </div>
    <div class="row" data-ng-show="TPDC.errorEdit">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert">
                <strong>Błąd!</strong> Wystąpił problem podczas edytowania terminu zabiegu.
            </div>
        </div>
    </div>
    <div class="row" data-ng-show="TPDC.errorLoading || TPDC.errorLoadingEmployees || TPDC.errorLoadingTreatments || TPDC.errorLoadingRooms">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert">
                <strong>Błąd!</strong> Wystąpił problem podczas pobierania szczegółów dotyczących terminu zabiegu.
            </div>
        </div>
    </div>
    <form class="row" role="form" name="termPendingDetails" data-ng-init="TPDC.loadTermPendingDetails()">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Szczegóły zabiegu</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5 col-md-3">
                            <label style="padding-top: 7px; padding-bottom: 7px;">ID</label>
                        </div>
                        <div class="col-xs-5 col-md-7">
                            <p class="form-control-static">{{::TPDC.termPendingDetails.patienttreatmentid}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-md-3">
                            <label style="padding-top: 7px; padding-bottom: 7px;">Pacjent</label>
                        </div>
                        <div class="col-xs-5 col-md-7">
                            <p class="form-control-static">{{::TPDC.termPendingDetails.patient_surname}} {{::TPDC.termPendingDetails.patient_name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-md-3">
                            <label style="padding-top: 7px; padding-bottom: 7px;">Rodzaj wizyty</label>
                        </div>
                        <div class="col-xs-5 col-md-7">
                            <p class="form-control-static">{{::TPDC.termPendingDetails.kindofvisit}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5 col-md-3">
                            <label style="padding-top: 7px; padding-bottom: 7px;">Cena</label>
                        </div>
                        <div class="col-xs-5 col-md-7">
                            <p data-ng-show="TPDC.termPendingDetails.kindofvisit === 'NFZ'" class="form-control-static">{{::0|currency}}</p>
                            <p data-ng-show="TPDC.termPendingDetails.kindofvisit === 'Prywatna'" class="form-control-static">{{::TPDC.termPendingDetails.price|currency}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group required">
                        <label class="control-label" for="date">Dzień</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="date" uib-datepicker-popup="dd.MM.yyyy" show-button-bar="false" datepicker-options="TPDC.dateOptions" is-open="TPDC.opened" placeholder="Dzień" data-ng-click="TPDC.open()" data-ng-model="TPDC.termPendingDetails.datehour" data-ng-disabled="!TPDC.allowEdit" required>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" data-ng-disabled="!TPDC.allowEdit" data-ng-click="TPDC.open()">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required" data-ng-disabled="!TPDC.allowEdit">
                        <label class="control-label" for="hour">Godzina</label>
                        <fieldset data-ng-disabled="!TPDC.allowEdit">
                            <div uib-timepicker  data-ng-model="TPDC.termPendingDetails.datehour" hour-step="TPDC.hstep" minute-step="TPDC.mstep" show-meridian="false" data-ng-disabled="!TPDC.allowEdit" required></div>
                        </fieldset>
                    </div>
                    <div class="form-group required" data-ng-init="TPDC.loadTreatmentsList()">
                        <label class="control-label" for="kindOfTreatment">Rodzaj zabiegu</label>
                        <select class="form-control" data-ng-options="treatment.treatmentid as treatment.kindoftreatment + ' (' + treatment.price + ' zł/' + treatment.duration +' min.)' for treatment in TPDC.treatmentsList|orderBy:'kindoftreatment'" data-ng-model="TPDC.termPendingDetails.treatmentid" name="kindOfTreatment" data-ng-disabled="!TPDC.allowEdit" required></select>
                    </div>
                    <div class="form-group required" data-ng-init="TPDC.loadRoomsList()">
                        <label class="control-label" for="roomNumber">Numer pokoju</label>
                        <select class="form-control" data-ng-options="room.roomid as 'p. ' + room.roomnumber + ' (' + room.roomname + ')' for room in TPDC.roomsList|orderBy:'roomnumber'" data-ng-model="TPDC.termPendingDetails.roomid" name="roomNumber" data-ng-disabled="!TPDC.allowEdit" required></select>
                    </div>
                    <div class="form-group required" data-ng-init="TPDC.loadEmployeesList()">
                        <label class="control-label" for="employee">Pracownik</label>
                        <select class="form-control" data-ng-options="employee.employeeid as employee.degree + ' ' + employee.surname + ' ' + employee.name for employee in TPDC.employeesList|orderBy:'surname'" data-ng-model="TPDC.termPendingDetails.employeeid" name="employee" data-ng-disabled="!TPDC.allowEdit" required></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="additionalInformations">Dodatkowe informacje</label>
                        <textarea name="additionalInformations" data-ng-model="TPDC.termPendingDetails.additionalinformations" class="form-control" maxlength="512" rows="5" data-ng-disabled="!TPDC.allowEdit" placeholder="Dodatkowe informacje"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <button type="submit" class="btn btn-primary" data-ng-show="!TPDC.allowEdit && !TPDC.updating" data-ng-click="TPDC.startEdit()" data-toggle="tooltip" title="Edytuj szczegóły terminu"><i class="fa fa-pencil"></i> Edytuj</button>
    <button class="btn btn-primary" data-ng-show="TPDC.allowEdit && !TPDC.updating" data-ng-click="TPDC.updateTermPendingDetails()" data-ng-disabled="termPendingDetails.$invalid" data-toggle="tooltip" title="Zapisz wprowadzone zmiany"><i class="fa fa-check"></i> Zapisz</button>
    <button class="btn btn-warning" data-ng-show="TPDC.allowEdit && !TPDC.updating" data-ng-click="TPDC.cancelEdit()" data-toggle="tooltip" title="Anuluj wprowadzone zmiany"><i class="fa fa-times"></i> Anuluj</button>
    <button class="btn btn-default pull-right" data-ng-hide="TPDC.updating" data-ui-sref="root.terms.pending" data-toggle="tooltip" title="Wróć na listę terminów"><i class="fa fa-arrow-left"></i> Wróć</button>
    <p align="center" data-ng-show="TPDC.updating"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></p>
</div>
