<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Terminy zabiegów pracownika</h1>
        </div>
    </div>
    <div class="row" data-ng-show="ETC.errorLoading">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert">
                <strong>Błąd!</strong> Wystąpił problem podczas pobierania terminów zabiegów pracownika.
            </div>
        </div>
    </div>
    <form class="row" role="form" name="employee_terms">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Terminy</h3>
                </div>
                <div class="panel-body">
                    <uib-tabset>
                        <uib-tab heading="Oczekujące">
                            <div class="row" style="padding-top: 15px;" data-ng-hide="ETC.emptyPending">
                                <div class="col-lg-12" data-ng-init="ETC.loadEmployeeTermsPending()">
                                    <div class="alert alert-danger" role="alert" data-ng-show="ETC.errorCancel">
                                        <strong>Błąd!</strong> Wystąpił problem podczas odwoływania terminu zabiegu.
                                    </div>
                                    <div class="alert alert-danger" role="alert" data-ng-show="ETC.errorComplete">
                                        <strong>Błąd!</strong> Wystąpił problem podczas realizowania terminu zabiegu.
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group search-bar">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control" placeholder="Wyszukaj oczekujący termin" data-ng-model="ETC.pendingTermsFilter">
                                        </div>
                                    </div>
                                    <div class="table-responsive" data-ng-hide="ETC.loadingPending">
                                        <table class="table table-striped table-condensed table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-2">ID</th>
                                                    <th class="col-xs-2">Data</th>
                                                    <th class="col-xs-2">Godzina</th>
                                                    <th class="col-xs-3">Pacjent</th>
                                                    <th class="col-xs-3">Akcja</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="term in ETC.pendingTerms| orderBy:'employeetreatmentid' | filter:ETC.pendingTermsFilter">
                                                    <td>{{term.patienttreatmentid}}</td>
                                                    <td>{{term.datehour|date: 'dd.MM.yyyy'}}</td>
                                                    <td>{{term.datehour|date: 'HH:mm'}}</td>
                                                    <td>{{term.patient_surname}} {{term.patient_name}}</td>
                                                    <td>
                                                        <!--<button class="btn btn-sm btn-primary" data-ui-sref="root.employees.employee.terms.term.details({termId: term.employeetreatmentid})" data-toggle="tooltip" title="Szczegóły zabiegu"><i class="fa fa-search"></i> Szczegóły</button>--> 
                                                        <button class="btn btn-sm btn-primary" data-ng-click="ETC.setChosen(term)" data-toggle="modal" data-target="#modal-cancel-term-{{$index}}" data-toggle="tooltip" title="Odwołaj zabieg"><i class="fa fa-remove"></i> Odwołaj</button>
                                                        <button class="btn btn-sm btn-primary" data-ng-click="ETC.setChosen(term)" data-toggle="modal" data-target="#modal-complete-term-{{$index}}" data-toggle="tooltip" title="Zrealizuj zabieg"><i class="fa fa-remove"></i> Zrealizuj</button>
                                            <modal-directive
                                                modal-id="modal-cancel-term-{{$index}}"
                                                title="Odwoływanie wizyty"
                                                body="Czy na pewno chcesz odwołać wizytę z dnia {{ETC.chosenTerm.datehour|date: 'dd.MM.yyyy'}} o godzinie {{ETC.chosenTerm.datehour|date: 'HH:mm'}}?"
                                                confirm-button="ETC.cancelTerm(ETC.chosenTerm.patienttreatmentid)" 
                                                cancel-button="">
                                            </modal-directive>
                                            <modal-directive
                                                modal-id="modal-complete-term-{{$index}}"
                                                title="Realizowanie wizyty"
                                                body="Czy na pewno chcesz zrealizować wizytę z dnia {{ETC.chosenTerm.datehour|date: 'dd.MM.yyyy'}} o godzinie {{ETC.chosenTerm.datehour|date: 'HH:mm'}}?"
                                                confirm-button="ETC.completeTerm(ETC.chosenTerm.patienttreatmentid)" 
                                                cancel-button="">
                                            </modal-directive>
                                            </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p align="center" data-ng-show="ETC.loadingPending"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></p>
                                </div>
                            </div>
                            <div class="row" data-ng-show="ETC.emptyPending">
                                <div class="col-lg-12" style="padding-top: 10px">
                                    <div class="alert alert-info" role="alert">
                                        <strong>Uwaga!</strong> Pracownik nie posiada żadnych zaplanowanych zabiegów.
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Odwołane">
                            <div class="row" style="padding-top: 15px;" data-ng-hide="ETC.emptyCancelled">
                                <div class="col-lg-12" data-ng-init="ETC.loadEmployeeTermsCancelled()">
                                    <div class="form-group">
                                        <div class="input-group search-bar">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control" placeholder="Wyszukaj odwołany termin" data-ng-model="ETC.cancelledTermsFilter">
                                        </div>
                                    </div>
                                    <div class="table-responsive" data-ng-hide="ETC.loadingCancelled">
                                        <table class="table table-striped table-condensed table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-1">ID</th>
                                                    <th class="col-xs-2">Data i godzina</th>
                                                    <th class="col-xs-2">Rodzaj zabiegu</th>
                                                    <th class="col-xs-1">Numer pokoju</th>
                                                    <th class="col-xs-2">Pacjent</th>
                                                    <th class="col-xs-1">Rodzaj wizyty</th>
                                                    <th class="col-xs-1">Cena</th>
                                                    <th class="col-xs-2">Dodatkowe informacje</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="term in ETC.cancelledTerms| orderBy:'employeetreatmentid' | filter:ETC.cancelledTermsFilter">
                                                    <td>{{term.patienttreatmentid}}</td>
                                                    <td>{{term.datehour|date: 'dd.MM.yyyy HH:mm'}}</td>
                                                    <td>{{term.kindoftreatment}}</td>
                                                    <td>{{term.roomnumber}}</td>
                                                    <td>{{term.patient_surname}} {{term.patient_name}}</td>
                                                    <td>{{term.kindofvisit}}</td>
                                                    <td><span data-ng-if="ETC.term.kindofvisit === 'Prywatna'">{{term.price}} zł</span><span data-ng-if="term.kindofvisit === 'NFZ'">- zł</span></td>
                                                    <td>{{term.additionalinformations}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p align="center" data-ng-show="ETC.loadingCancelled"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></p>
                                </div>
                            </div>
                            <div class="row" data-ng-show="ETC.emptyCancelled">
                                <div class="col-lg-12" style="padding-top: 10px">
                                    <div class="alert alert-info" role="alert">
                                        <strong>Uwaga!</strong> Pracownik nie posiada żadnych odwołanych zabiegów.
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Zrealizowane">
                            <div class="row" style="padding-top: 15px;" data-ng-hide="ETC.emptyCompleted">
                                <div class="col-lg-12" data-ng-init="ETC.loadEmployeeTermsCompleted()">
                                    <div class="form-group">
                                        <div class="input-group search-bar">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control" placeholder="Wyszukaj zrealizowany termin" data-ng-model="ETC.completedTermsFilter">
                                        </div>
                                    </div>
                                    <div class="table-responsive" data-ng-hide="ETC.loadingCompleted">
                                        <table class="table table-striped table-condensed table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="col-xs-1">ID</th>
                                                    <th class="col-xs-2">Data i godzina</th>
                                                    <th class="col-xs-2">Rodzaj zabiegu</th>
                                                    <th class="col-xs-1">Numer pokoju</th>
                                                    <th class="col-xs-2">Pacjent</th>
                                                    <th class="col-xs-1">Rodzaj wizyty</th>
                                                    <th class="col-xs-1">Cena</th>
                                                    <th class="col-xs-2">Dodatkowe informacje</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="term in ETC.completedTerms| orderBy:'employeetreatmentid' | filter:ETC.completedTermsFilter">
                                                    <td>{{term.patienttreatmentid}}</td>
                                                    <td>{{term.datehour|date: 'dd.MM.yyyy HH:mm'}}</td>
                                                    <td>{{term.kindoftreatment}}</td>
                                                    <td>{{term.roomnumber}}</td>
                                                    <td>{{term.patient_surname}} {{term.patient_name}}</td>
                                                    <td>{{term.kindofvisit}}</td>
                                                    <td><span data-ng-if="ETC.term.kindofvisit === 'Prywatna'">{{term.price}} zł</span><span data-ng-if="ETC.term.kindofvisit === 'NFZ'">- zł</span></td>
                                                    <td>{{term.additionalinformations}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p align="center" data-ng-show="ETC.loadingCompleted"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></p>
                                </div>
                            </div>
                            <div class="row" data-ng-show="ETC.emptyCompleted">
                                <div class="col-lg-12" style="padding-top: 10px">
                                    <div class="alert alert-info" role="alert">
                                        <strong>Uwaga!</strong> Pracownik nie posiada żadnych zrelizowanych zabiegów.
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </form>
    <button class="btn btn-default pull-right" data-ng-hide="ETC.updating" data-ui-sref="root.employees.list" data-toggle="tooltip" title="Wróć na listę pracowników"><i class="fa fa-arrow-left"></i> Wróć</button>
    <p align="center" data-ng-show="ETC.updating"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></p>
</div>