<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lista pacjentów</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="padding-top: 10px">
            <div class="alert alert-info" role="alert">
                <strong>Uwaga!</strong> Na liście nie ma żadnych pacjentów. Dodaj nowego, klikając poniższy przycisk "Dodaj nowego pacjenta".
            </div>
            <div class="pull-right">
                <button class="btn btn-sm btn-primary" data-ng-click="addNewPatient()">Dodaj nowego pacjenta</button>
            </div>
        </div>
    </div>
</div>